/* ######################################################################## */
/* Variables for css. */
:root {
  /* Text */
  --text-dark: #000;
  --text-light: #fff;
  --text-grey: #adbdcc;
  --body-font: "Roboto", sans-serif;
  --heading-font: "Anek Telugu", sans-serif;
  --h1-size: 94px;
  --h1-line-height: 108px;
  --h2-size: 50px;
  --h2-line-height: 75px;
  --h3-size: 40px;
  --h4-size: 32px;
  --h5-size: 28px;
  --h6-size: 22px;
  --subtitle-size: 17px;
  --subtitle-line-height: 26px;
  --p-size: 18px;
  --p-line-height: 26px;
  --secondary-text-size: 14px;
  --secondary-text-line-height: 18px;
  --button-size: 16px;

  /* main colors */
  --purple-1: #6962f7;
  --purple-2: #7000ff;
  --blue-1: #00d4ff;
  --primary-accent: #0a2540;
  --primary-button-hover: #6d7a88;
  --bg-white: white;
  --bg-light: #f7f9fc;

  /* Spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  /* standard width for content */
  --standard-width: 1144px;

  /* standard box shadow */
  --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
}

/*  Variables ends */
/* ######################################################################## */

/* Basic styles*/
body {
  font-family: var(--body-font);
  color: var(--text-dark);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: var(--spacing-sm) 0 0 0;
  background-color: var(--bg-light);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: var(--h1-size);
  margin: 0;
  width: 100%;
  letter-spacing: -1px;
  line-height: var(--h1-line-height);
}

h2 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: var(--h3-size);
  margin: 0;
  width: 100%;
}

h3 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h3-size);
  margin: 0;
  width: 100%;
}

h4 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h4-size);
  margin: 0;
  width: 100%;
  letter-spacing: 0.25px;
}

h5 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h5-size);
  margin: 0;
  width: 100%;
}

h6 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h6-size);
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--purple-1);
  font-weight: 500;
  transition: color 0.25s ease;
}

a:hover {
  color: var(--primary-accent);
}

p {
  font-size: var(--p-size);
  line-height: var(--p-line-height);
  font-weight: 400;
  margin: var(--spacing-md) 0;
}

/* LAYOUT styles */
/* Container to apply width to content sections */
.section-container {
  width: 100%;
  max-width: var(--standard-width);
}

/* Class for two column layout throughout site */
.two-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.two-column > .col-left {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-md) 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.two-column > .col-right {
  width: 50%;
  box-sizing: border-box;
  padding: 0 0 0 var(--spacing-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Layout styles ends */

main {
  margin: var(--spacing-xl) 0;
}

/* Basic styles ends*/
/* ######################################################################## */

/* Define class-elements used in site. */

/* topic cards used in site */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
}

.card .icon {
  height: 50px;
  margin: 0 0 var(--spacing-sm) 0;
}

.card h3 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h6-size);
  margin: 0;
  width: 100%;
}

.subtitle,
.subtitle2 {
  color: var(--purple-1);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-line-height);
}

/* override .subtitle color from previous definition */
.subtitle2 {
  color: var(--blue-1);
}

.secondary-text {
  font-size: var(--secondary-text-size);
  line-height: var(--secondary-text-line-height);
  color: var(--text-grey);
  letter-spacing: 0.25px;
}

/*  Button styles */

.primary-button {
  font-family: var(--body-font);
  font-size: var(--button-size);
  letter-spacing: 1.25px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-accent);
  color: var(--text-light);
  padding: var(--spacing-sm) var(--spacing-md);
  transition: all 0.15s ease;
}

.primary-button:hover {
  background-color: var(--primary-button-hover);
  cursor: pointer;
}

.secondary-button {
  font-family: var(--body-font);
  font-size: var(--button-size);
  letter-spacing: 1.25px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  color: var(--primary-accent);
  transition: all 0.15s ease;
}

.secondary-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

/* Add .with-icon to add arrow icon to button */
.with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-icon > {
  transition: transform 0.25s ease;
}

.with-icon:hover > img {
  transform: translateX(4px);
}

/* Class-elements ends*/
/* ######################################################################## */
/* Page styles */

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--standard-width);
  padding: 0 var(--spacing-md);
}

.menu {
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.menu a {
  color: var(--text-light);
  margin: 0 var(--spacing-md);
  font-weight: 700;
}

.menu a:hover {
  text-decoration: underline;
}

.navbar-button {
  background: rgba(250, 250, 250, 0.25);
}

.navbar-button:hover {
  background: rgba(250, 250, 250, 0.5);
}

/* HERO SECTION */
.button-container {
  display: flex;
  margin: var(--spacing-md) 0;
}

/* 2nd button has margin */
.button-container button:nth-of-type(2) {
  margin: 0 0 0 var(--spacing-md);
  color: var(--purple-2);
}

.hero p {
  max-width: 480px;
}

.hero .hero-phone-container {
  height: 564px;
  align-items: flex-end;
}

.hero-phone {
  height: 628px;
  transform: translate(32px, -32px);
}

/* PARTNERS SECTION */
.partners-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: var(--spacing-xl) 0;
  column-gap: var(--spacing-md);
  row-gap: var(--spacing-lg);
}

.partners-grid img {
  height: 60px;
  place-self: center;
}

/* UNIFIED PLATFORM SECTION */
.unified-platform-section {
  padding: var(--spacing-xl) 0;
}

.unified-platform-section h2 {
  width: 50%;
  margin-bottom: var(--spacing-md);
}

.unified-platform-section .primary-button {
  background-color: var(--purple-1);
  margin: var(--spacing-md) 0;
}

.unified-platform-section .primary-button:hover {
  background-color: var(--primary-accent);
}

/* GRAPHIC GRID SECTION - Product graphic photos */
.graphic-grid {
  display: grid;
  grid-template-areas:
    "card slack slack"
    "phone slack slack"
    "phone dash dash";
  gap: var(--spacing-lg);
  padding: var(--spacing-lg) 0;
}

#credit-card {
  grid-area: card;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

#slack-invoice {
  grid-area: slack;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

#phone {
  grid-area: phone;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

#dash {
  grid-area: dash;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

/* INTEGRATIONS SECTION */
.integrations-section {
  color: var(--text-light);
  background-color: var(--primary-accent);
}

.integrations-section .primary-button {
  background-color: var(--blue-1);
  color: var(--primary-accent);
  margin: var(--spacing-md) 0 0 0;
}

.integrations-section .primary-button:hover {
  background-color: var(--bg-white);
}

.integrations-section .card-container {
  display: flex;
  margin: var(--spacing-lg);
}

.integrations-section .card-container .card {
  width: 50%;
}

.integrations-section .secondary-button {
  color: var(--blue-1);
}

#api-code {
  max-width: 470px;
  margin: 0 0 var(--spacing-md) 0;
  border-radius: 20px;
}

#terminal-code {
  max-width: 470px;
  border-radius: 20px;
}
